{% extends 'VgksSigtranBundle::layout.html.twig' %}

{% block content %}
    <h2>Страница изменения материала</h2>
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.title, 'Заголовок материала') }}
        {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.text, 'Текст материала') }}
        {{ form_widget(form.text, { 'attr': {'class': 'form-control'} }) }}
    </div>
    {{ form_widget(form.save, { 'attr': {'class': 'btn btn-default'} }) }}
    {{ form_end(form) }}
{% endblock %}