{% extends 'VgksSigtranBundle::layout.html.twig' %}

{% block content %}
    <h2>Страница изменения вопроса</h2>
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.text, 'Текст вопроса') }}
        {{ form_widget(form.text, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <h3>Вопросы</h3>
    {% for answer in form.answers %}
        <div class="form-group">
            {{ form_label(answer.text, 'Текст ответа') }}
            {{ form_widget(answer.text, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="checkbox">
            <label>
                {{ form_label(answer.correct, ' ') }}
                {{ form_widget(answer.correct) }}
                Правильный ответ
            </label>
        </div>
    {% endfor %}
    {{ form_widget(form.save, { 'attr': {'class': 'btn btn-default'} }) }}
    {{ form_end(form) }}
{% endblock %}